<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <style>
    {% include css/basic.scss %}
    {% include css/styles.css %}
  </style>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700|Ubuntu:400,300,300italic,500,700|Montserrat' rel='stylesheet' type='text/css'>

  <!-- Favicon from Personal Site -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/Hashtag Grid-48.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

</head>

<body>

  {% include social.html %}
  {% include navbar.html %}

  <div class="content container">
    <main>
      {{ content }}
    </main>   
  </div>

</body>
</html>
